In [69]:
import os
import pandas as pd
from pandas import DataFrame as df
from sqlalchemy import create_engine, MetaData


ora_id = os.environ['ORACLE_ID']
ora_pw = os.environ['ORACLE_PW']
ora_ip = os.environ['ORACLE_IP']
ora_port = os.environ['ORACLE_PORT']
ora_sid = os.environ['ORACLE_SID']

# sqlalchemy_addr Database Urls 예시
# engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')
# engine = create_engine('oracle+cx_oracle://scott:tiger@tnsname')
sqlalchemy_addr = 'oracle://' + ora_id+':' + ora_pw + '@' + ora_ip + ':' + ora_port + '/' + ora_sid
engine = create_engine(sqlalchemy_addr, echo=True)
meta = MetaData()

conn = engine.raw_connection()
cur_sel = conn.cursor()
cur_ins = conn.cursor()
cur_del = conn.cursor()

2018-05-22 01:11:42,718 INFO sqlalchemy.engine.base.Engine SELECT USER FROM DUAL

INFO:sqlalchemy.engine.base.Engine:SELECT USER FROM DUAL

2018-05-22 01:11:42,720 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2018-05-22 01:11:42,723 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60 CHAR)) AS anon_1 FROM DUAL

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60 CHAR)) AS anon_1 FROM DUAL

2018-05-22 01:11:42,724 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2018-05-22 01:11:42,726 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR2(60)) AS anon_1 FROM DUAL

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS NVARCHAR2(60)) AS anon_1 FROM DUAL

2018-05-22 01:11:42,727 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2018-05-22 01:11:42,731 INFO sqlalchemy.engine.base.Engine select value from nls_session_parameters where parameter = 'NLS_NUMERIC_CHARACTERS'

INFO:sqlalchemy.engine.base.Engine:select value from nls_session_parameters where parameter = 'NLS_NUMERIC_CHARACTERS'

2018-05-22 01:11:42,733 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

In [70]:
from sqlalchemy import Table, select, insert


jobs = Table('JOBS', meta, schema='HR', autoload=True, autoload_with=engine)
jobs2 = Table('JOBS2', meta, schema='HR', autoload=True, autoload_with=engine)

jobs_select = jobs.select()
print(str(jobs_select))

jobs2_select = jobs2.select()
print(str(jobs2_select))

jobs2_insert = jobs2.insert()
print(str(jobs2_insert))

jobs2_delete = jobs2.delete()
print(str(jobs2_delete))

2018-05-22 01:11:58,433 INFO sqlalchemy.engine.base.Engine SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner

INFO:sqlalchemy.engine.base.Engine:SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner

2018-05-22 01:11:58,435 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS', 'owner': 'HR'}

2018-05-22 01:11:58,440 INFO sqlalchemy.engine.base.Engine
            SELECT col.column_name, col.data_type, col.char_length,
              col.data_precision, col.data_scale, col.nullable,
              col.data_default, com.comments            FROM all_tab_columns col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
         AND col.owner = :owner  ORDER BY col.column_id

INFO:sqlalchemy.engine.base.Engine:
            SELECT col.column_name, col.data_type, col.char_length,
              col.data_precision, col.data_scale, col.nullable,
              col.data_default, com.comments            FROM all_tab_columns col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
         AND col.owner = :owner  ORDER BY col.column_id

2018-05-22 01:11:58,441 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS', 'owner': 'HR'}

2018-05-22 01:11:58,447 INFO sqlalchemy.engine.base.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

INFO:sqlalchemy.engine.base.Engine:SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

2018-05-22 01:11:58,448 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS', 'owner': 'HR'}

2018-05-22 01:11:58,453 INFO sqlalchemy.engine.base.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

INFO:sqlalchemy.engine.base.Engine:SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

2018-05-22 01:11:58,455 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS', 'schema': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS', 'schema': 'HR'}

2018-05-22 01:11:58,459 INFO sqlalchemy.engine.base.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

INFO:sqlalchemy.engine.base.Engine:SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

2018-05-22 01:11:58,460 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS', 'schema': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS', 'schema': 'HR'}

2018-05-22 01:11:58,463 INFO sqlalchemy.engine.base.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

INFO:sqlalchemy.engine.base.Engine:SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

2018-05-22 01:11:58,465 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS', 'owner': 'HR'}

2018-05-22 01:11:58,469 INFO sqlalchemy.engine.base.Engine
            SELECT comments
            FROM user_tab_comments
            WHERE table_name = :table_name

INFO:sqlalchemy.engine.base.Engine:
            SELECT comments
            FROM user_tab_comments
            WHERE table_name = :table_name

2018-05-22 01:11:58,470 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS'}

2018-05-22 01:11:58,474 INFO sqlalchemy.engine.base.Engine SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner

INFO:sqlalchemy.engine.base.Engine:SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner

2018-05-22 01:11:58,476 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS2', 'owner': 'HR'}

2018-05-22 01:11:58,538 INFO sqlalchemy.engine.base.Engine
            SELECT col.column_name, col.data_type, col.char_length,
              col.data_precision, col.data_scale, col.nullable,
              col.data_default, com.comments            FROM all_tab_columns col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
         AND col.owner = :owner  ORDER BY col.column_id

INFO:sqlalchemy.engine.base.Engine:
            SELECT col.column_name, col.data_type, col.char_length,
              col.data_precision, col.data_scale, col.nullable,
              col.data_default, com.comments            FROM all_tab_columns col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
         AND col.owner = :owner  ORDER BY col.column_id

2018-05-22 01:11:58,539 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS2', 'owner': 'HR'}

2018-05-22 01:11:58,544 INFO sqlalchemy.engine.base.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

INFO:sqlalchemy.engine.base.Engine:SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

2018-05-22 01:11:58,546 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS2', 'owner': 'HR'}

2018-05-22 01:11:58,549 INFO sqlalchemy.engine.base.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

INFO:sqlalchemy.engine.base.Engine:SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

2018-05-22 01:11:58,551 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'schema': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS2', 'schema': 'HR'}

2018-05-22 01:11:58,554 INFO sqlalchemy.engine.base.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

INFO:sqlalchemy.engine.base.Engine:SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position

2018-05-22 01:11:58,556 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'schema': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS2', 'schema': 'HR'}

2018-05-22 01:11:58,559 INFO sqlalchemy.engine.base.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

INFO:sqlalchemy.engine.base.Engine:SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position

2018-05-22 01:11:58,561 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS2', 'owner': 'HR'}

2018-05-22 01:11:58,564 INFO sqlalchemy.engine.base.Engine
            SELECT comments
            FROM user_tab_comments
            WHERE table_name = :table_name

INFO:sqlalchemy.engine.base.Engine:
            SELECT comments
            FROM user_tab_comments
            WHERE table_name = :table_name

2018-05-22 01:11:58,565 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2'}

INFO:sqlalchemy.engine.base.Engine:{'table_name': 'JOBS2'}

SELECT "HR"."JOBS".job_id, "HR"."JOBS".job_title, "HR"."JOBS".min_salary, "HR"."JOBS".max_salary
FROM "HR"."JOBS"
SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary
FROM "HR"."JOBS2"
INSERT INTO "HR"."JOBS2" (job_id, job_title, min_salary, max_salary) VALUES (:job_id, :job_title, :min_salary, :max_salary)
DELETE FROM "HR"."JOBS2"

In [71]:
cur_sel.arraysize = 5

# 커서에 sql 셋팅
cur_sel.execute(str(jobs_select))

# fetchsize 만큼 리스트 형태로 리턴 (정확히는 리스트안에 튜플들이 담겨있음.)
rows = cur_sel.fetchmany()
# rows = cur_sel.fetchmany(numRows=1)

# 더이상 결과가 없으면 빈리스트로 리턴.
while len(rows) != 0 :
    
    print(rows)
    
    # 여러 결과를 한번에 insert 처리.
    cur_ins.executemany(str(jobs2_insert), rows)

    conn.commit()
    
    rows = cur_sel.fetchmany()

[('AD_PRES', 'President', 20080, 40000), ('AD_VP', 'Administration Vice President', 15000, 30000), ('AD_ASST', 'Administration Assistant', 3000, 6000), ('FI_MGR', 'Finance Manager', 8200, 16000), ('FI_ACCOUNT', 'Accountant', 4200, 9000)]
[('AC_MGR', 'Accounting Manager', 8200, 16000), ('AC_ACCOUNT', 'Public Accountant', 4200, 9000), ('SA_MAN', 'Sales Manager', 10000, 20080), ('SA_REP', 'Sales Representative', 6000, 12008), ('PU_MAN', 'Purchasing Manager', 8000, 15000)]
[('PU_CLERK', 'Purchasing Clerk', 2500, 5500), ('ST_MAN', 'Stock Manager', 5500, 8500), ('ST_CLERK', 'Stock Clerk', 2008, 5000), ('SH_CLERK', 'Shipping Clerk', 2500, 5500), ('IT_PROG', 'Programmer', 4000, 10000)]
[('MK_MAN', 'Marketing Manager', 9000, 15000), ('MK_REP', 'Marketing Representative', 4000, 9000), ('HR_REP', 'Human Resources Representative', 4000, 9000), ('PR_REP', 'Public Relations Representative', 4500, 10500)]

In [72]:
sql = 'SELECT * FROM HR.JOBS '

df = pd.read_sql(sql, conn)
df

        JOB_ID                        JOB_TITLE  MIN_SALARY  MAX_SALARY
0      AD_PRES                        President       20080       40000
1        AD_VP    Administration Vice President       15000       30000
2      AD_ASST         Administration Assistant        3000        6000
3       FI_MGR                  Finance Manager        8200       16000
4   FI_ACCOUNT                       Accountant        4200        9000
5       AC_MGR               Accounting Manager        8200       16000
6   AC_ACCOUNT                Public Accountant        4200        9000
7       SA_MAN                    Sales Manager       10000       20080
8       SA_REP             Sales Representative        6000       12008
9       PU_MAN               Purchasing Manager        8000       15000
10    PU_CLERK                 Purchasing Clerk        2500        5500
11      ST_MAN                    Stock Manager        5500        8500
12    ST_CLERK                      Stock Clerk        2008        5000
13    SH_CLERK                   Shipping Clerk        2500        5500
14     IT_PROG                       Programmer        4000       10000
15      MK_MAN                Marketing Manager        9000       15000
16      MK_REP         Marketing Representative        4000        9000
17      HR_REP   Human Resources Representative        4000        9000
18      PR_REP  Public Relations Representative        4500       10500

In [73]:
sql = str(jobs2_select)

df = pd.read_sql(sql, conn)
df

        JOB_ID                        JOB_TITLE  MIN_SALARY  MAX_SALARY
0      AD_PRES                        President       20080       40000
1        AD_VP    Administration Vice President       15000       30000
2      AD_ASST         Administration Assistant        3000        6000
3       FI_MGR                  Finance Manager        8200       16000
4   FI_ACCOUNT                       Accountant        4200        9000
5       AC_MGR               Accounting Manager        8200       16000
6   AC_ACCOUNT                Public Accountant        4200        9000
7       SA_MAN                    Sales Manager       10000       20080
8       SA_REP             Sales Representative        6000       12008
9       PU_MAN               Purchasing Manager        8000       15000
10    PU_CLERK                 Purchasing Clerk        2500        5500
11      ST_MAN                    Stock Manager        5500        8500
12    ST_CLERK                      Stock Clerk        2008        5000
13    SH_CLERK                   Shipping Clerk        2500        5500
14     IT_PROG                       Programmer        4000       10000
15      MK_MAN                Marketing Manager        9000       15000
16      MK_REP         Marketing Representative        4000        9000
17      HR_REP   Human Resources Representative        4000        9000
18      PR_REP  Public Relations Representative        4500       10500

In [78]:
sql = 'SELECT * FROM HR.JOBS2 '

df = pd.read_sql(sql, conn)
df

Empty DataFrame
Columns: [JOB_ID, JOB_TITLE, MIN_SALARY, MAX_SALARY]
Index: []

In [77]:

sql = 'SELECT * FROM HR.JOBS '

cur_sel.arraysize = 3

# 커서에 sql 셋팅
cur_sel.execute(sql)

# fetchsize 만큼 리스트 형태로 리턴 (정확히는 리스트안에 튜플들이 담겨있음.)
row = cur_sel.fetchone()

while row is not None :
    print(row)
    # print(row[1])
    row = cur_sel.fetchone()

('AD_PRES', 'President', 20080, 40000)
('AD_VP', 'Administration Vice President', 15000, 30000)
('AD_ASST', 'Administration Assistant', 3000, 6000)
('FI_MGR', 'Finance Manager', 8200, 16000)
('FI_ACCOUNT', 'Accountant', 4200, 9000)
('AC_MGR', 'Accounting Manager', 8200, 16000)
('AC_ACCOUNT', 'Public Accountant', 4200, 9000)
('SA_MAN', 'Sales Manager', 10000, 20080)
('SA_REP', 'Sales Representative', 6000, 12008)
('PU_MAN', 'Purchasing Manager', 8000, 15000)
('PU_CLERK', 'Purchasing Clerk', 2500, 5500)
('ST_MAN', 'Stock Manager', 5500, 8500)
('ST_CLERK', 'Stock Clerk', 2008, 5000)
('SH_CLERK', 'Shipping Clerk', 2500, 5500)
('IT_PROG', 'Programmer', 4000, 10000)
('MK_MAN', 'Marketing Manager', 9000, 15000)
('MK_REP', 'Marketing Representative', 4000, 9000)
('HR_REP', 'Human Resources Representative', 4000, 9000)
('PR_REP', 'Public Relations Representative', 4500, 10500)

In [76]:

# delete
cur_del.execute('DELETE FROM HR.JOBS2')
conn.commit()

In [79]:
cur_sel.close()
cur_ins.close()
cur_del.close()

conn.close()

In [83]:
engine.dispose()