In [23]:
import os
import collections
import pandas as pd
from pprint import pprint
from pandas import DataFrame as df
from sqlalchemy import create_engine, MetaData, Table, select, insert
from sqlalchemy.pool import NullPool



'''
db별로 객체 생성하도록 함.
'''

class DbConnect:
        
    def __init__(self, urls):
        
        self.urls = urls
        self.meta = MetaData()
        
        # sqlalchemy_addr Database Urls 예시
        # engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')
        # echo=False 로그출력 안함.
        # poolclass=NullPool 커넥션풀 사용안함
        self.engine = create_engine(urls, echo=False, poolclass=NullPool)

        
    def getConnection(self):
        return self.engine.raw_connection()
    
    def getTable(self, schema, tableName):
        return Table(tableName, self.meta, schema=schema, autoload=True, autoload_with=self.engine)

In [37]:
engine = DbConnect(os.environ['ORACLE_SQLALCHEMY_ADDR'])
conn = engine.getConnection()

cur_sel = conn.cursor()
cur_ins = conn.cursor()
cur_del = conn.cursor()

In [38]:
jobs = engine.getTable('HR', 'JOBS')
jobs2 = engine.getTable('HR', 'JOBS2')

In [39]:
jobs_select = str(jobs.select())
print(jobs_select)

jobs2_select = str(jobs2.select())
print(jobs2_select)

jobs2_insert = str(jobs2.insert())
print(jobs2_insert)

jobs2_delete = str(jobs2.delete())
print(jobs2_delete)

SELECT "HR"."JOBS".job_id, "HR"."JOBS".job_title, "HR"."JOBS".min_salary, "HR"."JOBS".max_salary
FROM "HR"."JOBS"
SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary
FROM "HR"."JOBS2"
INSERT INTO "HR"."JOBS2" (job_id, job_title, min_salary, max_salary) VALUES (:job_id, :job_title, :min_salary, :max_salary)
DELETE FROM "HR"."JOBS2"

In [43]:
# delete
cur_del.execute(jobs2_delete)
conn.commit()

In [44]:



cur_sel.execute(jobs_select)

# 네임드 튜플을 사용한다.
# 그냥 튜플과 다른점은 의미 있는 데이터로의 이름 정의를 추가하여 각 튜플을 의미있는 데이터로 읽고 쓰기가 가능.
# JOBS 라는 테이블명으로 이름을 정하고,
# 각 컬럼은 description 에서 읽어서 순서대로 정의
cur_sel.rowfactory = collections.namedtuple("JOBS", [d[0] for d in cur_sel.description])

cur_sel.arraysize = 5
# fetchsize 만큼 리스트 형태로 리턴 (정확히는 리스트안에 튜플들이 담겨있음.)
rows = cur_sel.fetchmany()
# rows = cur_sel.fetchmany(numRows=1)

# 더이상 결과가 없으면 빈리스트로 리턴.
while len(rows) != 0 :
    
    pprint(rows)
    
    # 여러 결과를 한번에 insert 처리.
    cur_ins.executemany(jobs2_insert, rows)

    conn.commit()
    
    rows = cur_sel.fetchmany()

[JOBS(JOB_ID='AD_PRES', JOB_TITLE='President', MIN_SALARY=20080, MAX_SALARY=40000),
 JOBS(JOB_ID='AD_VP', JOB_TITLE='Administration Vice President', MIN_SALARY=15000, MAX_SALARY=30000),
 JOBS(JOB_ID='AD_ASST', JOB_TITLE='Administration Assistant', MIN_SALARY=3000, MAX_SALARY=6000),
 JOBS(JOB_ID='FI_MGR', JOB_TITLE='Finance Manager', MIN_SALARY=8200, MAX_SALARY=16000),
 JOBS(JOB_ID='FI_ACCOUNT', JOB_TITLE='Accountant', MIN_SALARY=4200, MAX_SALARY=9000)]
[JOBS(JOB_ID='AC_MGR', JOB_TITLE='Accounting Manager', MIN_SALARY=8200, MAX_SALARY=16000),
 JOBS(JOB_ID='AC_ACCOUNT', JOB_TITLE='Public Accountant', MIN_SALARY=4200, MAX_SALARY=9000),
 JOBS(JOB_ID='SA_MAN', JOB_TITLE='Sales Manager', MIN_SALARY=10000, MAX_SALARY=20080),
 JOBS(JOB_ID='SA_REP', JOB_TITLE='Sales Representative', MIN_SALARY=6000, MAX_SALARY=12008),
 JOBS(JOB_ID='PU_MAN', JOB_TITLE='Purchasing Manager', MIN_SALARY=8000, MAX_SALARY=15000)]
[JOBS(JOB_ID='PU_CLERK', JOB_TITLE='Purchasing Clerk', MIN_SALARY=2500, MAX_SALARY=5500),
 JOBS(JOB_ID='ST_MAN', JOB_TITLE='Stock Manager', MIN_SALARY=5500, MAX_SALARY=8500),
 JOBS(JOB_ID='ST_CLERK', JOB_TITLE='Stock Clerk', MIN_SALARY=2008, MAX_SALARY=5000),
 JOBS(JOB_ID='SH_CLERK', JOB_TITLE='Shipping Clerk', MIN_SALARY=2500, MAX_SALARY=5500),
 JOBS(JOB_ID='IT_PROG', JOB_TITLE='Programmer', MIN_SALARY=4000, MAX_SALARY=10000)]
[JOBS(JOB_ID='MK_MAN', JOB_TITLE='Marketing Manager', MIN_SALARY=9000, MAX_SALARY=15000),
 JOBS(JOB_ID='MK_REP', JOB_TITLE='Marketing Representative', MIN_SALARY=4000, MAX_SALARY=9000),
 JOBS(JOB_ID='HR_REP', JOB_TITLE='Human Resources Representative', MIN_SALARY=4000, MAX_SALARY=9000),
 JOBS(JOB_ID='PR_REP', JOB_TITLE='Public Relations Representative', MIN_SALARY=4500, MAX_SALARY=10500)]

In [ ]:
cur_sel.close()
cur_ins.close()
cur_del.close()

conn.close()