In [2]:
import os
import cx_Oracle
import pandas as pd
from pandas import DataFrame as df


ora_id = os.environ['ORACLE_ID']
ora_pw = os.environ['ORACLE_PW']
ora_ip = os.environ['ORACLE_IP']
ora_port = os.environ['ORACLE_PORT']
ora_sid = os.environ['ORACLE_SID']

# Database Urls 예시
# engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')
# engine = create_engine('oracle+cx_oracle://scott:tiger@tnsname')
ora_addr = 'oracle://' + ora_id+':' + ora_pw + '@' + ora_ip + ':' + ora_port + '/' + ora_sid

print(ora_addr)

oracle://system:answodl@192.168.55.107:1521/XE

In [4]:
from sqlalchemy import create_engine
from sqlalchemy import Table, MetaData


engine = create_engine(ora_addr, echo=True)
meta = MetaData()
# schema 입력하지 않으면, connect 한 계정의 이름으로 owner 로 검색하기때문에 제대로 안됨.
# 꼭입력 필요.
jobs = Table('JOBS2', meta, schema='HR', autoload=True, autoload_with=engine)

2018-05-22 00:19:32,590 INFO sqlalchemy.engine.base.Engine SELECT USER FROM DUAL
2018-05-22 00:19:32,591 INFO sqlalchemy.engine.base.Engine {}
2018-05-22 00:19:32,593 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60 CHAR)) AS anon_1 FROM DUAL
2018-05-22 00:19:32,594 INFO sqlalchemy.engine.base.Engine {}
2018-05-22 00:19:32,596 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR2(60)) AS anon_1 FROM DUAL
2018-05-22 00:19:32,596 INFO sqlalchemy.engine.base.Engine {}
2018-05-22 00:19:32,599 INFO sqlalchemy.engine.base.Engine select value from nls_session_parameters where parameter = 'NLS_NUMERIC_CHARACTERS'
2018-05-22 00:19:32,599 INFO sqlalchemy.engine.base.Engine {}
2018-05-22 00:19:32,602 INFO sqlalchemy.engine.base.Engine SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner
2018-05-22 00:19:32,603 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}
2018-05-22 00:19:32,607 INFO sqlalchemy.engine.base.Engine
            SELECT col.column_name, col.data_type, col.char_length,
              col.data_precision, col.data_scale, col.nullable,
              col.data_default, com.comments            FROM all_tab_columns col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
         AND col.owner = :owner  ORDER BY col.column_id
2018-05-22 00:19:32,608 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}
2018-05-22 00:19:32,614 INFO sqlalchemy.engine.base.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2018-05-22 00:19:32,615 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}
2018-05-22 00:19:32,620 INFO sqlalchemy.engine.base.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2018-05-22 00:19:32,621 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'schema': 'HR'}
2018-05-22 00:19:32,625 INFO sqlalchemy.engine.base.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2018-05-22 00:19:32,625 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'schema': 'HR'}
2018-05-22 00:19:32,628 INFO sqlalchemy.engine.base.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2018-05-22 00:19:32,629 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2', 'owner': 'HR'}
2018-05-22 00:19:32,634 INFO sqlalchemy.engine.base.Engine
            SELECT comments
            FROM user_tab_comments
            WHERE table_name = :table_name

2018-05-22 00:19:32,634 INFO sqlalchemy.engine.base.Engine {'table_name': 'JOBS2'}

In [5]:
meta

MetaData(bind=None)

In [16]:
from sqlalchemy.sql import select

s = select([jobs])

In [17]:
str(s)

'SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary \nFROM "HR"."JOBS2"'

In [22]:
s2 = select([jobs]).where(jobs.columns.job_title == '123')
str(s2)

'SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary \nFROM "HR"."JOBS2" \nWHERE "HR"."JOBS2".job_title = :job_title_1'

In [24]:
s2.compile().params

{'job_title_1': '123'}

In [29]:

from sqlalchemy.sql import and_, or_, not_

s3 = select([jobs]).where(and_(jobs.c.job_id == '1', jobs.c.job_title == '23'))

In [30]:
str(s3)

'SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary \nFROM "HR"."JOBS2" \nWHERE "HR"."JOBS2".job_id = :job_id_1 AND "HR"."JOBS2".job_title = :job_title_1'

In [31]:
s3.compile().params

{'job_id_1': '1', 'job_title_1': '23'}