In [17]:
import os
import cx_Oracle
import pandas as pd
from pandas import DataFrame as df
from sqlalchemy import bindparam
from pprint import pprint


ora_id = os.environ['ORACLE_ID']
ora_pw = os.environ['ORACLE_PW']
ora_ip = os.environ['ORACLE_IP']
ora_port = os.environ['ORACLE_PORT']
ora_sid = os.environ['ORACLE_SID']

# Database Urls 예시
# engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')
# engine = create_engine('oracle+cx_oracle://scott:tiger@tnsname')
ora_addr = 'oracle://' + ora_id+':' + ora_pw + '@' + ora_ip + ':' + ora_port + '/' + ora_sid

print(ora_addr)

oracle://system:answodl@192.168.55.107:1521/XE

In [18]:
from sqlalchemy import create_engine
from sqlalchemy import Table, MetaData


engine = create_engine(ora_addr, echo=False)
meta = MetaData()
# schema 입력하지 않으면, connect 한 계정의 이름으로 owner 로 검색하기때문에 제대로 안됨.
# 꼭입력 필요.
jobs = Table('JOBS2', meta, schema='HR', autoload=True, autoload_with=engine)

In [19]:
meta

MetaData(bind=None)

In [20]:
from sqlalchemy.sql import select

s = select([jobs])

In [21]:
str(s)

'SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary \nFROM "HR"."JOBS2"'

In [24]:
s2 = select([jobs]).where(jobs.columns.job_title == bindparam('job_title'))
str(s2)

'SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary \nFROM "HR"."JOBS2" \nWHERE "HR"."JOBS2".job_title = :1'

In [8]:
s2.compile().params

{'job_title_1': '123'}

In [12]:
print(type(s2.compile()))

<class 'sqlalchemy.sql.compiler.StrSQLCompiler'>

In [29]:

from sqlalchemy.sql import and_, or_, not_

s3 = select([jobs]).where(and_(jobs.c.job_id == '1', jobs.c.job_title == '23'))

In [30]:
str(s3)

'SELECT "HR"."JOBS2".job_id, "HR"."JOBS2".job_title, "HR"."JOBS2".min_salary, "HR"."JOBS2".max_salary \nFROM "HR"."JOBS2" \nWHERE "HR"."JOBS2".job_id = :job_id_1 AND "HR"."JOBS2".job_title = :job_title_1'

In [31]:
s3.compile().params

{'job_id_1': '1', 'job_title_1': '23'}